@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-muted rounded-md;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
